* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #111;
	color: #fff;
	padding: 30px 20px;
}
h1 {
	margin-bottom: 20px;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px 30px;
	border: none;
	border-radius: 5px;
	outline: none;
	margin-top: 8px;
	cursor: pointer;
	transition: all 0.3s ease;
	text-decoration: none;
	color: #111;
	background-color: #fff;
	max-width: 150px;
}

.btn:hover {
	background-color: #bcd1e6;
}
